.navbar {
    background: rgba(0, 0, 0, 0.845);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.4px);
    -webkit-backdrop-filter: blur(10.4px);
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 50px 60px 50px;
    /* font-family: 'Lobster', cursive; */
    position: fixed;
    z-index: 999;
    width: 100vw;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .navbar-logo h2 {
    color: rgb(49, 142, 247);
    font-size: 1.9rem;
  }
  
  .social-icon.instagram {
    width: 40px;
  }
  
  .social-icon.facebook {
    width: 28px;
  }
  
  .cart-icon {
    width: 30px;
  }
  
  .nav-menu {
    display: flex;
    list-style: none;
  }
  
  .nav-item {
    margin: 0 30px;
    text-decoration: none;
  }
  
  .nav-item a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
  }
  
  .nav-item a:hover {
    color: #ff6347;
  }
  
  .navbar-icons {
    display: flex;
    align-items: center;
  }
  
  .social-icon,
  .cart-icon {
    color: #fff;
    font-size: 1.5rem;
    margin-left: 15px;
  }
  
  .social-icon:hover,
  .cart-icon:hover {
    color: #ff6347;
  }
  
  .navbar-toggle {
    display: none;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
  }
  
  .social-icons {
    display: flex;
    margin-top: 0.5rem;
  }
  
  .social-icons a {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background: linear-gradient(45deg, #5f6ea4, #145e92);
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin-right: 0.5rem;
    transition: 0.3s;
  }
  
  .social-icons a:hover {
    transform: scale(1.05);
  }

  @media (max-width: 768px) {
    .nav-menu {
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      height: calc(100vh - 60px);
      background-color: #333;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      display: none;
      transition: all 0.5s ease;
    }
  
    .nav-menu.active {
      display: flex;
    }
  
    .nav-item {
      margin: 20px 0;
    }
  
    .navbar-icons {
      display: none;
    }
  
    .navbar-toggle {
      display: block;
    }
  }